@font-face {
  font-family: "PAYW Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/woff2/PAYW-Pro-Regular.woff2") format("woff2"),
    url("/woff/PAYW-Pro-Regular.woff") format("woff");
}

@font-face {
  font-family: "PAYW Pro";
  font-style: normal;
  font-weight: 500;
  src: url("/woff2/PAYW-Pro-Medium.woff2") format("woff2"),
    url("/woff/PAYW-Pro-Medium.woff") format("woff");
}

@font-face {
  font-family: "PAYW Pro";
  font-style: normal;
  font-weight: 600;
  src: url("/woff2/PAYW-Pro-SemiBold.woff2") format("woff2"),
    url("/woff/PAYW-Pro-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "PAYW Pro";
  font-style: normal;
  font-weight: 700;
  src: url("/woff2/PAYW-Pro-Bold.woff2") format("woff2"),
    url("/woff/PAYW-Pro-Bold.woff") format("woff");
}

@font-face {
  font-family: "PAYW Pro";
  font-style: normal;
  font-weight: 800;
  src: url("/woff2/PAYW-Pro-Bold.woff2") format("woff2"),
    url("/woff/PAYW-Pro-Bold.woff") format("woff");
}

@font-face {
  font-family: "PAYW Pro";
  font-style: normal;
  font-weight: 900;
  src: url("/woff2/PAYW-Pro-ExtraBold.woff2") format("woff2"),
    url("/woff/PAYW-Pro-ExtraBold.woff") format("woff");
}
